{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class='container'>
<div class="col-6 offset-3">
    <h1>איפוס סיסמא</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans 'שחכת את הסיסמא? הקלד את כתובת הדוא"ל למטה ואנחנו נשלח לך מייל אשר יאפשר לך לאפס אותה' %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form |crispy }}
        <input class='btn btn-warning' type="submit" value="אפס סיסמא" />
    </form>

</div>
</div>
{% endblock %}
